/classifier/.idea
/classifier/__pycache__
/classifier/data
/classifier/logs
/classifier/models
classifier/audio.mp3
classifier/audio.wav
classifier/backend/.idea/*
classifier/backend/__pycache__/*
classifier/backend/img.jpg
classifier/backend/config.json
classifier/backend/simulation/*

