<div class="super">

  <div class="container">
    <div>
      <table>
        <!-- Row 1 -->
        <tr>
          <td>
            <tile value="1" type="hour"></tile>
          </td>
          <td>
            <tile value="2" type="hour"></tile>
          </td>
          <td>
            <tile value="3" type="hour"></tile>
          </td>
          <td>
            <tile value="4" type="hour"></tile>
          </td>

          <td>
            <tile value="0" type="minute"></tile>
          </td>
          <td>
            <tile value="5" type="minute"></tile>
          </td>
        </tr>

        <!-- Row 2 -->
        <tr>
          <td>
            <tile value="5" type="hour"></tile>
          </td>
          <td>
            <tile value="6" type="hour"></tile>
          </td>
          <td>
            <tile value="7" type="hour"></tile>
          </td>
          <td>
            <tile value="8" type="hour"></tile>
          </td>

          <td>
            <tile value="10" type="minute"></tile>
          </td>
          <td>
            <tile value="15" type="minute"></tile>
          </td>
        </tr>

        <!-- Row 3 -->
        <tr>
          <td>
            <tile value="9" type="hour"></tile>
          </td>
          <td>
            <tile value="10" type="hour"></tile>
          </td>
          <td>
            <tile value="11" type="hour"></tile>
          </td>
          <td>
            <tile value="12" type="hour"></tile>
          </td>

          <td>
            <tile value="20" type="minute"></tile>
          </td>
          <td>
            <tile value="25" type="minute"></tile>
          </td>
        </tr>

        <!-- Row 4 (only minutes) -->
        <tr>
          <td>
            <tile value="30" type="minute"></tile>
          </td>
          <td>
            <tile value="35" type="minute"></tile>
          </td>
          <td>
            <tile value="40" type="minute"></tile>
          </td>
          <td>
            <tile value="45" type="minute"></tile>
          </td>

          <td>
            <tile value="50" type="minute"></tile>
          </td>
          <td>
            <tile value="55" type="minute"></tile>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <toggle></toggle>
    </div>

  </div>
</div>